*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
  position: relative;
  left: 40px;
  align-self: center;
}
#screen{
    height: 50px;
    width: 286px;
}
input{
    font-size: 200%;

}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(245, 233, 236);
    width: fit-content;
    
}
.button{
    height: 35px;
    width: 70px;
    
    font-size: large;

}